!!!
%html{:lang => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title BucketWise
    = stylesheet_link_merged :base
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.3/scriptaculous.js"
    = javascript_include_merged :base

  %body
    :javascript
      Events.source = #{current_location.to_json};

    #header
      %h1
        %span.actions
          = link_to "log out", session_path, :method => :delete
        %span.title
          = link_to "BucketWise", root_path

    #container
      = yield
      #version
        == BucketWise version: <span class="version">v#{BucketWise::Version::STRING} (rev <a href="https://github.com/jamis/bucketwise/commit/#{application_revision}">#{application_revision}</a>)</span>
        %br
        == Last deployed: <span class="version">#{application_last_deployed}</span>
